<div class="page center" ng-controller="PlaylistController">	
	<ons-list>
		<ons-list-item>
			<ons-search-input class="full line-height bg-white-30 radius-6" placeholder="Search">
				
			</ons-search-input>
		</ons-list-item>

		<ons-list-item ng-click="showPlaylist()">
			<img class="float-left" src="http://imgjam2.jamendo.com/albums/s124/124799/covers/1.100.jpg" alt="">
			<span class="playlist-item-label float-left">Favorite</span>
			<img class="float-right list-arrow" src="icons/play.png" alt="">
			<div class="clear-float"></div>
		</ons-list-item>

		<ons-list-item ng-click="showPlaylist()">
			<img class="float-left" src="http://imgjam2.jamendo.com/albums/s125/125608/covers/1.100.jpg" alt="">
			<span class="playlist-item-label float-left">On The Go</span>
			<img class="float-right list-arrow" src="icons/play.png" alt="">
			<div class="clear-float"></div>
		</ons-list-item>
	</ons-list>
</div>