<div class="page" ng-controller="musiclistController">
	<ons-list>
		<ons-list-item>
			<ons-search-input ng-model="query.text" class="full line-height bg-white-30 radius-6" placeholder="Search"></ons-search-input>
		</ons-list-item>

		<ons-list-item ng-click="playMusic(music, $index)" class="block" ng-repeat="music in musics | orderBy:'+name' | filter:query.text" ng-animate="'zoom'">
			<img width="100" height="100" class="float-left" ng-src="{{music.album_image}}">
			<div class="list-item-title-box float-left">
				<div class="list-item-title">
					{{music.name}}
				</div>
				<div class="list-item-subtitle">
					{{music.artist_name}}
				</div>
			</div>
			<img class="float-right list-arrow" src="assets/icons/play.png" alt="">
			<div class="clear-float"></div>
		</ons-list-item>

		<!-- <h3 class="topcoat-list__header list-header main-color">A</h3> -->

	</ons-list>
	

</div>