.slide-show {
  -webkit-transition-property: opacity, -webkit-transform;
  -webkit-transition-duration: .4s;
  -webkit-transition-delay: .001s;
  -webkit-transition-timing-function: ease;
  -webkit-transform: translateX(-100%);
}

.slide-show.slide-show-active {
  -webkit-transform: translateX(0);
}

.slide-hide {
  -webkit-transition-property: opacity, -webkit-transform;
  -webkit-transition-duration: .4s;
  -webkit-transition-delay: .001s;
  -webkit-transition-timing-function: ease;
  -webkit-transform: translateX(0);
  opacity: 1;
}

.slide-hide.slide-hide-active {
  -webkit-transform: translateX(100%);
  opacity: 0;
}



.my-spinner {
  -webkit-animation: spinner .8s infinite linear;
  -o-animation: spinner .8s infinite linear;
  animation: spinner .8s infinite linear;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}