<div class="page" ng-controller="MusicListController">
	<ons-list>
		<h3 class="topcoat-list__header list-header main-color">A</h3>

		<ons-list-item ng-click="playMusic()">
			<img class="float-left" src="http://imgjam2.jamendo.com/albums/s124/124799/covers/1.100.jpg" alt="">
			<div class="list-item-title-box float-left">
				<div class="list-item-title">
					Music Title
				</div>
				<div class="list-item-subtitle">
					Artist Name
				</div>
			</div>
			<img class="float-right list-arrow" src="icons/play.png" alt="">
			<div class="clear-float"></div>
		</ons-list-item>

		<ons-list-item ng-click="playMusic()">
			<img class="float-left" src="http://imgjam2.jamendo.com/albums/s125/125608/covers/1.100.jpg" alt="">
			<div class="list-item-title-box float-left">
				<div class="list-item-title">
					Music Title
				</div>
				<div class="list-item-subtitle">
					Artist Name
				</div>
			</div>
			<img class="float-right list-arrow" src="icons/play.png" alt="">
			<div class="clear-float"></div>
		</ons-list-item>

		<h3 class="topcoat-list__header list-header main-color">B</h3>

		<ons-list-item ng-click="playMusic()">
			<img class="float-left" src="http://imgjam2.jamendo.com/albums/s124/124799/covers/1.100.jpg" alt="">
			<div class="list-item-title-box float-left">
				<div class="list-item-title">
					Music Title
				</div>
				<div class="list-item-subtitle">
					Artist Name
				</div>
			</div>
			<img class="float-right list-arrow" src="icons/play.png" alt="">
			<div class="clear-float"></div>
		</ons-list-item>

		<ons-list-item ng-click="playMusic()">
			<img class="float-left" src="http://imgjam2.jamendo.com/albums/s125/125608/covers/1.100.jpg" alt="">
			<div class="list-item-title-box float-left">
				<div class="list-item-title">
					Music Title
				</div>
				<div class="list-item-subtitle">
					Artist Name
				</div>
			</div>
			<img class="float-right list-arrow" src="icons/play.png" alt="">
			<div class="clear-float"></div>
		</ons-list-item>
	</ons-list>
	

</div>