.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-float {
    clear: both;
}

.debug {
    /*border: 1px solid #ff00ff;*/
}

.block {
	display: block;
}

.main-color {
	color: #25b5c2;
}

.topcoat-list__item {
	list-style: none;
	padding: 5px;
}

.topcoat-icon-button--quiet {
	color: #25b5c2;	
}

.topcoat-navigation-bar {
	height: 2.7rem;
	background-color: rgba(0,0,0,0.8);
}

.topcoat-navigation-bar__item {
	line-height: 2.7rem;
}

.topcoat-tab-bar__button {
	height: 3.5rem;
}

.tabbar-item {
	background-color: transparent;	
	border: 1px solid #999;
	padding: 5px;
	width: 1.5rem;
	height: 1.5rem;
}

.tarbar-item:active,
:checked + .tabbar-item {
	background-color: #25b5c2;
	border: none;
}

.tabbar-item-label {
	margin-top: -10px;
	line-height: 0.1rem;
}

.line-height {
	line-height: 2.7rem;
}

.bg-white-30 {
	background-color: rgba(255,255,255,0.3);
}

.bg-black {
	background-color: black;
}

.radius-6 {
	border-radius: 6px;
}

.title-box {
	color: white;
	background-color: rgba(0,0,0,0.8);
}

.no-margin {
	margin: 0;
}

.margin-10 {
	margin: 10px;
}

.no-margin-bottom {
	margin-bottom: 0;
}

.round {
	border-radius: 50%;
}

.white-border {
	border: 2px solid white;
}

.white-border-1 {
	border: 1px solid white;
}

.option-controls {
	position: absolute;
	bottom: 60px;
	left: 20px;
}

.option-button {	
	padding-top: 5px;
	padding-bottom: 5px;
}

.option-button-icon {
	height: 2rem;
	width: 2.3rem;
	background-position: center;
	background-repeat: no-repeat;
}

.music-controls{
	position: absolute;
	right: 0;
	bottom: 20px;
	width: 200px;
	height: 250px;
}

.music-control-icon {
	height: 2rem;
	width: 2rem;
	margin-top: 13px;
	margin-left: 3px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.music-button {
	width: 4rem;
	height: 4rem;
}

.volume-button {
	width: 6rem;
	height: 6rem;
	position: absolute;
	top: 100px;
	left: 90px;
}

.playlist-item-label {
	margin-top: 35px;
	margin-left: 15px;
	color: #25B5C2;
	font-weight: bold;
	font-size: 19px;
}

.list-item-title-box {
	margin-top: 30px;
	margin-left: 15px;
}

.list-item-title {
	font-weight: bold;
	font-size: 19px;
}

.list-item-subtitle {
	font-size: 12px;
}


.list-header {
	padding-left: 5px;
	font-weight: bold;
}

.list-arrow {
	width: 1rem;
	margin-top: 35px;
	margin-right: 4px;
}

.play-button {
	position: absolute;
	top: 50px;
	left: 35px;
}

.fast-forward-button{
	position: absolute;
	top: 20px;
	left: 110px;
}

.fast-backward-button{
	position: absolute;
	top: 125px;
	left: 10px;
}

.line-height-4 {
	line-height: 4rem;
}




.topcoat-tab-bar__button {
	color: #999;
}

.topcoat-tab-bar__button:active,
.topcoat-tab-bar__button--large:active,
:checked + .topcoat-tab-bar__button {
  color: #25B5C2;
  box-shadow: none;
}