circular-progress {
  display: block;
  position: relative;
}

.progress-wrap {
  margin: 0 auto;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* -------------------------------------
 * Bar container
 * ------------------------------------- */
.progress-radial {
  float: left;
  margin-right: 30px;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: black;
}

/* -------------------------------------
 * Optional centered circle w/text
 * ------------------------------------- */
.progress-radial .progress-overlay {
  position: absolute;
  width: 94%;
  height: 94%;
  background-color: black;
  border-radius: 50%;
  margin-left: 3%;
  margin-top: 3%;
  text-align: center;
  line-height: 60px;
  font-size: 16px;
}

.progress-transition {
  -webkit-transition: background-image 0.5s ease-in-out;
}